<h3>Hello Welcome</h3>

<p>This is the place to find an Auto Shop to fill all your automotive needs.</p>

<%= link_to 'Get Started', shops_path %>

<p>If you are a shop owner and would like to have your shop featured here Please follow the link below</p>

<%= link_to 'Add Shop', new_shop_path %>